<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form id="tableForm" action="/collection" method="post">
          <select class="selectpicker" data-style="btn-info" class="ghost-input" name="selectpicker">
            <optgroup label="Select Table">
            <option value="">Select a Collection to View</option>
            <% rows.forEach(function(row){ %>
            <option value="<%= row %>"><%= row %></option>
            <% }) %>
          </optgroup>
          </select>
          <input type="submit" class="ghost-button" value="Submit" />
        </form>
        <form id="resultForm" action="/collection" method="get">
          <% if(selection !== null){ %>
            <p><%= selection %></p>
          <% } %>

          <table>
            <tr>
              <% keys.forEach(function(key){ %>
                <th><%= key %></th>
              <% }) %>
            </tr>
            <% if(data !== null){ %>
              <% data.forEach(function(line){ %>
                <tr>
                  <% line.forEach(function(value){ %>
                    <td><%= value %></td>
                  <% }) %>  
                </tr>
              <% }) %>
            <% } %>
          </table>

          <% if(data !== null){ %>
            <% data.forEach(function(line){ %>
              <p><%= line %></p>
            <% }) %>
          <% } %>
        </form>
      </fieldset>
    </div>
  </body>
</html>
