<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Monitoring Data Viewer</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form id="tableForm" action="/collection" method="post">
          <select data-style="btn-info" class="ghost-input" name="selectpicker">
            <optgroup label="Select Table">
            <option value="">Select a Collection to View</option>
            <% rows.forEach(function(row){ %>
            <option value="<%= row %>"><%= row %></option>
            <% }) %>
          </optgroup>
          </select>
          <input type="submit" class="ghost-button" value="Submit" />
        </form>
        <form id="resultForm" action="/collection" method="get">
          <% if(selection !== null){ %>
            <p><%= selection %></p>
          <% } %>
        </form>

        <form id="graph" action="/collection/graph" method="post">
          <% if(checkOptions !== null) { %>
            <% checkOptions.forEach(function(option) { %>
              <input type="radio" name="graphOption" value="<%=option%>"><%=option%><br>
            <% }) %>
            <input type="submit" class="ghost-button" value="View Graph"/>
          <% } %>

          <% if(chartData !== null){ %>
            <canvas id = "collectionChart"></canvas>
            <script>
               var ctx = document.getElementById("collectionChart").getContext("2d");
               var collectionChart = new Chart(ctx, {
                 type: 'line',
                 data: <%- JSON.stringify(chartData) %>
               });
            </script>
            <% } %>
        </form>

      </fieldset>
    </div>
  </body>
</html>
